<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
<!--        <File name="MainLog" fileName="$${sys:logPath}/app.log" immediateFlush="true" append="false">-->
<!--        <File name="MainLog" fileName="${sys:logPath:-logs}/app.log" immediateFlush="true" append="false">-->
        <File name="MainLog" fileName="logs/app.log" immediateFlush="true" append="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="MainLog"/>
            <AppenderRef ref="Console"/>
<!--            <AppenderRef ref="Console" level="error"/>-->
        </Root>
        <Logger name="com.zaxxer.hikari" level="error"/>
        <Logger name="com.datastax.driver.core" level="error"/>
        <Logger name="io.netty.channel.nio" level="error"/>
        <Logger name="io.netty.util" level="error"/>
        <Logger name="io.netty.buffer" level="error"/>
        <Logger name="io.netty.channel" level="error"/>
        <Logger name="org.bublik" level="all"/>
        <Logger name="org.postgresql" level="all"/>
    </Loggers>
</Configuration>
